.wrapper {
    padding: 16px 0;
    border-top: 1px solid #1618231f;
}

.label {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #161823bf;
}

.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
}

.avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    margin-right: 12px;
}

.item-info {
    flex: 1;
}

.nickname {
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #161823;
    display: flex;
    align-items: center;
}

.check {
    font-size: 1.4rem;
    color: #20D5EC;
    padding-left: 4px;
}

.name {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #161823bf;
}

.more-btn {
    color: var(--primary);
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 8px;
}